<!DOCTYPE html>
<html>
<head>
    <title>URL Safety Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    🔐 LinkShield | Real-Time URL Threat Monitor
</div>

<div class="container">

    <div class="card">
        <form method="POST">
            <input type="text" name="url" placeholder="Enter URL to Scan..." required>
            <button type="submit">SCAN</button>
        </form>
    </div>

    <div id="scanner" class="scanner hidden">
    <p>🔎 Scanning URL...</p>
    <div class="scan-bar"></div>
    </div>


    {% if score is not none %}
    <div class="result-grid">

        <div class="card">
            <h3>Threat Classification</h3>
            <div class="risk-score">{{ score }}%</div>

            {% if score < 30 %}
                <div class="status safe">🟢 SAFE WEBSITE</div>
            {% elif score < 70 %}
                <div class="status warning">🟡 SUSPICIOUS WEBSITE</div>
            {% else %}
                <div class="status danger">🔴 HIGH RISK WEBSITE</div>
            {% endif %}
        </div>

        <div class="card">   
            <h3>Threat Analysis Logs</h3>
            <ul class="logs">
                {% for reason in reasons %}
                <li>{{ reason }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    {% endif %}

</div>

<div class="footer">
    © 2026 LinkShield | Cyber Carnival Hackathon  
</div>

<audio id="alertSound" src="https://actions.google.com/sounds/v1/alarms/alarm_clock.ogg"></audio>  <!-- Alert sound for high risk-->
<script>
window.onload = function() {
    const highRisk = document.querySelector(".danger");
    if (highRisk) {
        document.getElementById("alertSound").play();
    }
};
</script>


<script>
const form = document.querySelector("form");
const scanner = document.getElementById("scanner");

form.addEventListener("submit", function() {
    scanner.classList.remove("hidden");
});

window.onload = function() {
    scanner.classList.add("hidden");
};
</script>


</body>
</html>
